
    <section class="user-basic">
        <img src="{{avatar_url}}" alt="pic"/>
        <h1>{{name}}</h1>
        <h3>{{login}}</h3>
    </section>
    <section class="user-info">
        <ul>
            <li>{{company}}</li>
            <li>{{location}}</li>
            <li><a href="{{email}}">{{email}}</a></li>
            <li><a href="{{blog}}">{{blog}}</a></li>
            <li>Joined on {{date created_at}}</li>
        </ul>
    </section>
    <section class="github-stats">
        <div class="stat-numbers">{{followers}}<span>Followers</span></div>
        <div class="stat-numbers">7<span class="mid">Starred</span></div>
        <div class="stat-numbers">{{following}}<span>Following</span></div>
    </section>
    <section class="git-organs">
        <h4>Organizations</h4>
        <div class="organizations">

        </div>
    </section>