
    <section class="user-basic">
        <img src="{{avatar_url}}" alt="pic"/>
        <h1>{{name}}</h1>
        <h3>{{login}}</h3>
    </section>
    <section class="user-info">
        <ul>
            <li><span class="octicon octicon-organization"></span><span class="user-meta">{{company}}</span></li>
            <li><span class="octicon octicon-location"></span><span class="user-meta">{{location}}</span></li>
            <li><a href="{{email}}"><span class="octicon octicon-mail"></span><span class="user-meta">{{email}}</span></a></li>
            <li><a href="{{blog}}"><span class="octicon octicon-link"></span><span class="user-meta">{{blog}}</span></a></li>
            <li><span class="octicon octicon-clock"></span><span class="user-meta">Joined on {{ join_date created_at}}</span></li>
        </ul>
    </section>
    <section class="github-stats">
        <div class="stat-numbers"><a href="{{followers_url}}">{{followers}}</a><span class="stat-number-label">Followers</span></div>
        <div class="stat-numbers starred">{{num_starred}}<span class="mid stat-number-label">Starred</span></div>
        <div class="stat-numbers"><a href="{{following_url}}">{{following}}</a><span class="stat-number-label">Following</span></div>
    </section>
    <section class="git-organs">
        <h4>Organizations</h4>
        <div class="organizations">

        </div>
    </section>